/*------------------------------------*\
    ### INDEX.SCSS ###
\*------------------------------------*/

body,
html {
    margin: 0;
    padding: 0;
}

.main {
    padding: 20px;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    max-width: 3840px;
}

img {
    width: 100%;
    height: auto;
}

.hide {
    display: none !important;
}

$white : #ffffff;
$gray : #909090;

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $white;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $white;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $white;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: $white;
}
.form-container {
    margin-left: -15px;
    margin-right: -15px;
}

#submitform {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.form-group {
    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-bottom: 15px;
}

.form-control {
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 1;
    text-align: center;
    font-size: 20px;
    background-color: $gray;
    color: $white;
    border: none;
    outline: none;
    box-shadow: 0 0 8px 3px rgba(0,0,0,.4);
}

.btn {
    margin: 0;
    padding: 0 15px;
    min-width: 130px;
    height: 30px;
    line-height: 1;
    text-align: center;
    font-size: 20px;
    background-color: $gray;
    color: $white;
    border: none;
    outline: none;
    box-shadow: 0 0 8px 3px rgba(0,0,0,.4);
}

label {
    color: black;
}

